bodyXsd.xsd

<?xml version="1.0" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="englishName"/>
        <xs:element type="xs:string" name="isPlanet"/>
        <xs:element name="moons" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="moon"/>
              <xs:element type="xs:string" name="rel"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:int" name="semimajorAxis"/>
        <xs:element type="xs:int" name="perihelion"/>
        <xs:element type="xs:int" name="aphelion"/>
        <xs:element type="xs:float" name="eccentricity"/>
        <xs:element type="xs:float" name="inclination"/>
        <xs:element name="mass">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="massValue"/>
              <xs:element type="xs:byte" name="massExponent"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="vol">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="volValue"/>
              <xs:element type="xs:byte" name="volExponent"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:float" name="density"/>
        <xs:element type="xs:float" name="gravity"/>
        <xs:element type="xs:short" name="escape"/>
        <xs:element type="xs:float" name="meanRadius"/>
        <xs:element type="xs:float" name="equaRadius"/>
        <xs:element type="xs:float" name="polarRadius"/>
        <xs:element type="xs:float" name="flattening"/>
        <xs:element type="xs:string" name="dimension"/>
        <xs:element type="xs:float" name="sideralOrbit"/>
        <xs:element type="xs:float" name="sideralRotation"/>
        <xs:element type="xs:string" name="aroundPlanet"/>
        <xs:element type="xs:string" name="discoveredBy"/>
        <xs:element type="xs:string" name="discoveryDate"/>
        <xs:element type="xs:string" name="alternativeName"/>
        <xs:element type="xs:float" name="axialTilt"/>
        <xs:element type="xs:short" name="avgTemp"/>
        <xs:element type="xs:float" name="mainAnomaly"/>
        <xs:element type="xs:float" name="argPeriapsis"/>
        <xs:element type="xs:float" name="longAscNode"/>
        <xs:element type="xs:string" name="bodyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>